<p id="notice"><%= notice %></p>

<p>
  <b>Mp3:</b>
  <%= @player.mp3 %>
</p>

<p>
  <b>Title:</b>
  <%= @player.title %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
